.progress {
    width: 100%;
    background-color: #ddd;
    height: 100%;
    position: relative;
}

.progress:after {
    content: '';
    position: absolute;
    top: calc(50% - 0.1rem);
    left: 0;
    border-bottom: 5px solid black;
}

[data-status="pending"]:after {
    border-color: coral;
}

[data-status="passed"]:after {
    border-color: #8BC34A
}

[data-status="running"]:after {
    border-color: cornflowerblue;
}

[data-status="failed"]:after {
    border-color: #F44336;
}

[data-progress="5"]:after {
    width: 5%
}

[data-progress="10"]:after {
    width: 10%
}

[data-progress="20"]:after {
    width: 20%
}

[data-progress="30"]:after {
    width: 30%
}

[data-progress="40"]:after {
    width: 40%
}

[data-progress="50"]:after {
    width: 50%
}

[data-progress="100"]:after {
    width: 100%
}