staged-progress {
    position: relative;
}

staged-progress .progress {
    width: 100%;   
    height: 100%;
    position: relative;  
}

staged-progress .progress > span {
    display: block;
    position: absolute;
    top: calc(50% - 0.15rem);
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: repeating-linear-gradient( -45deg,
    #54aff7,
    #54aff7 5px,
    #2196F3 5px,
    #2196F3 10px);
}

staged-progress .progress:after {
    content: '';
    position: absolute;
    width: 100%;
    top: calc(50% - 0.3rem);    
    height: 10px;    
    z-index: -1;
    background: #ddd;   
}

[data-status="pending"]:after {
    border-color: coral;
}

[data-status="passed"]:after {
    border-color: #8BC34A
}

[data-status="running"]:after {
    border-color: rgb(100, 149, 237);
}

[data-status="failed"]:after {
    border-color: #F44336;
}