stage-indicator {    
    --status-pending: #FF9800;
    --status-running: #03A9F4;
    --status-passed: #4CAF50;
    --status-failed: #e63e32;
    --width: 60px;
    --height: 60px;

    width: var(--width);
    height: var(--height);
    display: inline-block;
    position: absolute;
    top: 0;
    z-index: 1;
    border-radius: 50%;
    background: #ddd;
    text-align: center;
}

stage-indicator.major {   
    border-radius: 0;
}

stage-indicator svg {
    position: relative;
    visibility: hidden;
    fill: white;
    top: calc(50% - 1rem);   
}

stage-indicator.completed svg {
    visibility: visible;
}

staged-progress.status-pending stage-indicator.completed {
    background: var(--status-pending);
}

staged-progress.status-running stage-indicator.completed {
    background: var(--status-running);
}

staged-progress.status-passed stage-indicator.completed {
    background: var(--status-passed);
}

staged-progress.status-failed stage-indicator.completed {
    background: var(--status-failed);
}