stage-indicator {
    --status-pending: #FF9800;
    --status-running: #03A9F4;
    --status-passed: #4CAF50;
    --status-failed: #e63e32;
}

stage-indicator .stage-indicator {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 50px;
    height: 50px;
    z-index: 1;
}

stage-indicator .stage-indicator:before {
    content: '';
    width: 100%;
    height: 100%;
    border: 5px solid #ddd;
    background: #ddd;
    display: block;
    text-align: center;
    border-radius: 50%;
}

stage-indicator .major:before {   
    border-radius: 0;
}

staged-progress.status-pending stage-indicator .completed:before {
    background: var(--status-pending);
}

staged-progress.status-running stage-indicator .completed:before {
    background: var(--status-running);
}

staged-progress.status-passed stage-indicator .completed:before {
    background: var(--status-passed);
}

staged-progress.status-failed stage-indicator .completed:before {
    background: var(--status-failed);
}